*{
    margin: 0;
    padding:0;    
}

body{
    background: #0c0a0a;
    font-family: monospace;
}

header{
    color:#fff;
}

header a{
    color:#fff
}

.logo-menu{
    font-weight: 1000;
    font-size: 30px;
    background: #a01212;
}

.logo-menu .menu a{
    display: inline-block;
    padding:40px 20px;
}

.logo-menu .menu a:hover{
    border-bottom: 4px solid #ff9f1c;
    padding-bottom: 30px;
}
