*{
    margin: 0;
    padding: 0;
}

body{
    color: yellow;
    background: white; 
    font-family: Verdana;
}

h1,h2,h3{
    margin: 0;
    padding: 10px;
    text-align: center;
}

p{
    padding: 20px;
}

.principal{
    margin-top: 20px;
    margin-bottom: 20px;
}

.header{
    background: #585858;
    padding:100px;
}

.sidebar1{
    background: darkblue;    
}

.sidebar2{
    background: red;
}

.contenido{
    background: darkgreen;
}

.footer{
   background: sienna;
   padding:100px;
}
