<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>listar todo</title>
    <table style="width:100%">
        <link rel="stylesheet" href="flexboxgrid.min.css">
        <link rel="stylesheet" href="estilo.css"> 
        <link rel="stylesheet" href="estilo2.css"> 
</head>
<body>
    <form action="/listar_todo_articulos/" method="GET">
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Marca</th>
                <th>Color</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% if articulos %}
            {% for arti in articulos %}
                <tr>
                    <td>{{ arti.nombre }}</td>
                    <td>{{ arti.categoria }}</td>
                    <td>{{ arti.marca }}</td>
                    <td>{{ arti.color }}</td>
                    <td>{{ arti.precio }}</td>
                </tr>
            {% endfor %}
            {% else %}
            <h2>No existen registro de articulo</h2>
            {% endif %}
        </tbody>
    </table>
    <input type="submit" value="Listar Articulos">
</form>    
</body>
</html>